<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="mb-1">&copy; Copyright propositum. All Rights Reserved</p>
                <div class="credits">
                    Designed by <a href="https://github.com/nikolazupan"><b>Nikola Zupan</b></a>
                </div>
            </div>
            <div class="col-sm-6 social text-md-end">
                <a href="#"><span class="bi bi-twitter"></span></a>
                <a href="#"><span class="bi bi-facebook"></span></a>
                <a href="#"><span class="bi bi-instagram"></span></a>
                <a href="#"><span class="bi bi-linkedin"></span></a>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ .Site.BaseURL }}vendor/aos/aos.js"></script>
<script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/php-email-form/validate.js"></script>
<script src="{{ .Site.BaseURL }}vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="{{ .Site.BaseURL }}js/main.js"></script>

</body>

</html>